<!DOCTYPE html>
<html>
<head>
  <title>Add New Employee</title>
</head>
<body>
<h2>Add New Employee</h2>
<%= render 'form', :locals => { :url => company_employees_path() } %> 

</body>
</html>