<!DOCTYPE html>
<html>
<head>
  <title>Hi there</title>
</head>
<body>
  <h1>STOCK WeBSITE</h1>
  <a href="/companies">LIST OF COMPANIES</a>
  <!-- <input type="button" value="Rake" onclick="javascript: alert('hello')"/> -->
</body>
</html>