<!DOCTYPE html>
<html>
<head>
  <title>Edit company</title>
</head>
<body>
	<div style="width: 50%;float: left;">
  		<h2>Edit Company</h2>
  	</div>
  	<%= render "user_logged_in" %>
	<%= render "form"  %>
</body>
</html>